@import "variables";
@import "mixins";
@import "base";
@import "font";

*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
  min-height: 100%;
  color: @white;
}

section.header {
  height: 100px;
  width: 100%;
  background: @blue;
  border-bottom: 1px solid darken(@blue, 10%);
}

section.photos {
  height: 100%;
  width: 100%;
}